body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  height: 2000px;
}
h1, p,ul{
  margin: 0px;
}

ul {
  padding: 0px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img{
  max-width: 100%;
  display: block;
}

.header-general {
  background-color: #000;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  gap: 40px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.header-menu a {
  display: inline-block;
  color: #fff;
  font-size: 1.25rem;
  position: relative;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background-color: #fff;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}

.intro-general{
  background-color: #000;
  box-shadow: inset 0 -120px #fff;
}
.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  box-sizing: border-box;
}

.intro-content {
  color: #fff;
  align-self: flex-end;
  padding-bottom: 240px;
}

.intro-content h1{
  font-size: 4rem;
  line-height: 1.125;
  margin-bottom: 32px;
}

.intro-content p{
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.intro-content a {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a50c) ;
  border-radius: 4px;
  color: #332200;
  font-weight: 500;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.intro-content span{
  color: #ffbb00;
}

.intro-content a:hover {
  background: linear-gradient(#ffb60d, #e59317) ;
}

.intro-img img{
  border-radius: 4px;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1200px) {
.intro-general{
  background-color: #111;
}

.intro-content h1{
  font-size: 3rem;
}
}

@media (max-width:800px){
  .intro{
    grid-template-columns: 1fr;
  }
  .intro-content{
    padding-bottom: 0px;
  }
  .intro-img img{
    height: 300px;
    width: 100%;
  }

  .intro-content h1{
    font-size: 2.5rem;
    margin-bottom: 16px;
  }
  
  .intro-content p{
    font-size: 1.2rem;
  }
  
  .intro-content a {
    padding: 12px 24px;
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .header {
    justify-content: center;
  }

  .header-menu a:hover:after {
    display: none;
  }
  .header-menu a {
    background-color: #2e2e2e;
    padding: 10px 16px;
    border-radius: 4px;
    font-size: 16px;
    transition: 0.3s;
  }
  .header-menu a:hover {
    background-color: #404040;
  }

}
