body{
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

ul{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

a{
  text-decoration: none;
}

.header-general{
  background-color: #000;
}

.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  gap: 40px;
}

.header-menu{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;

}

.header-menu a{
  display: inline-block;
  color: #fff;
  font-size: 1.25rem;
  position: relative;
}

.header-menu a:after{
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background-color: #fff;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after{
  width: 100%;
}


@media (max-width:600px){

  .header{
    justify-content: center;
  }

    .header-menu a:hover:after{
      display: none;
    }
  .header-menu a{
    background-color: #2E2E2E;
    padding: 10px 16px;
    border-radius: 4px;
    font-size: 16px;
    transition: 0.3s;
  }
  .header-menu a:hover{
    background-color: #404040;
  }
}