.footer-bg{
   background-color: var(--color-12);
   padding-top: 60px;
}

.footer{
    display: grid;
    grid-template-columns: 3fr 5fr 4fr;
    gap: 40px;
}

.footer h3{
    margin-bottom: 32px;
}

.footer .contato li{
    margin-bottom: 12px;
}

.footer li{
    margin-bottom: 16px;
}

.footer li:hover{
    color: var(--color-0);
}

.footer .medias{
    padding-top: 16px;
    display: flex;
    gap: 24px;
}


@media (max-width:850px){
    .footer{
        grid-template-columns: 1fr 2fr;
       
    }

    .contato-geral,
    .info{
        grid-row: 2;
    }
}

@media (max-width:650px){
    .footer{
        grid-template-columns: 1fr;
       
    }

    .contato-geral,
    .info{
        grid-row: initial;
    }


}

