.header-general {
  background-color: var(--color-12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
 
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.header-menu a {
  display: inline-block;
  font-size: 1.25rem;
  position: relative;
  font-family: 'Poppins';
  font-weight: 400;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background-color: var(--color-0);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after,
.header-menu a.ativo::after {
  width: 100%;
}

@media (max-width: 600px) {
  .header {
    justify-content: center;
  }

  .header-menu a:hover:after {
    display: none;
  }

  .header-menu a {
    background-color: var(--color-11);
    padding: 10px 16px;
    border-radius: 4px;
    font-size: 16px;
    transition: 0.3s;
  }
  .header-menu a:hover {
    background-color: var(--color-10);
  }

}