.bicicletas-page-bg {
  padding-top: 120px;
  padding-bottom: 120px;
}

.bicicletas-item {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 40px;
}

.bicicletas-content {
  display: grid;
  grid-template-columns: 1fr auto;
}

.bicicletas-content h3,
p {
  grid-column: 1/-1;
}

.bicicletas-content .botao {
  display: grid;
  place-self: end;
}

.advantages li {
  display: flex;
  align-items: center;
  gap: 6px;
}

.advantages li img {
  width: 20px;
}
