.botao {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a50c) ;
  border-radius: 4px;
  text-transform: uppercase;
  font: 600 1.125rem 'Poppins', sans-serif;
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317) ;
}

@media (max-width:800px){

  .botao{
    padding: 12px 24px;
    font-size: 1rem;
  }
}