.technology-bg{
    background-color: var(--color-11);
    margin-top: 120px;
    box-shadow: inset 0 120px var(--color-0), inset 0 -120px var(--color-0);
}

.technology{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
   
}

.tech-img img{
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.tech-content{
    padding-top: 160px;
    padding-bottom: 160px;
}

.tech-content span{
display: inline-block;
   margin-bottom: 20px; 
}

.tech-content a{
    display: inline-block;
    margin-top: 16px; 
    margin-bottom: 80px;
}

.tech-advantages{
    display: flex;
    gap: 40px;
}

.tech-advantages-item img, h3{
    margin-bottom: 8px;
}

@media (max-width:800px){

    .technology-bg{
        box-shadow: initial;
        margin-top: 80px;
    }
    .technology{
        grid-template-columns: 1fr;
        
    }

    .tech-content{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .tech-img{
        display: none;
    }
}

@media (max-width:600px){
    .tech-content a{
        
        margin-bottom: 40px;
    }

    .tech-advantages{
        flex-wrap: wrap;
    }

    .tech-advantages h3{
        width: max-content;
    }
}