.testemonial {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 120px;
}

.testemonial-content {
  display: grid;
  align-items: end;
  padding: 80px;
  background-color: var(--primary-1);
}

.testemonial-content blockquote {
  max-width: 52ch;
}

.testemonial-content p {
  position: relative;
}

.testemonial-content p::before {
  content: "“";
  color: var(--primary-2);
  font-size: 84px;
  font-family: "Merriweather", serif;
  position: absolute;
  top: -30px;
  left: -50px;
}

.testemonial-content p::after {
  content: "”";
  color: var(--primary-2);
  font-size: 84px;
  font-family: "Merriweather", serif;
  position: absolute;
}

.testemonial-content p {
  font-family: "Merriweather", serif;
  margin-bottom: 32px;
}

.testemonial img {
  border-radius: 0px;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1000px) {
  .testemonial {
    grid-template-columns: 1fr;
    padding-top: 60px;
  }

  .testemonial-img img {
    max-height: 300px;
    width: 100%;
  }

  .testemonial-content {
    justify-content: center;
  }
  .testemonial-content blockquote {
    text-align: center;
    max-width: 64ch;
  }
}
